* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--plp-white);
    color: #333;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

select,
select:focus,
select:active,
select:hover {
    outline: none !important;
    box-shadow: none !important;
}
